  	{
  		"name": "net.atos~rss~2.0-b2school-SNAPSHOT",
  		"config": {
  		  "main" : "net.atos.entng.rss.Rss",
  		  "port" : 8028,
  		  "app-name" : "Rss",
  		  "app-address" : "/rss",
  		  "app-icon" : "rss-large",
          "app-type" : "WIDGET",
  		  "host": "${host}",
  		  "ssl" : $ssl,
  		  "auto-redeploy": false,
  		  "userbook-host": "${host}",
  		  "integration-mode" : "HTTP",
  		  "app-registry.port" : 8012,
  		  "mode" : "${mode}",
  		  "entcore.port" : 8009
  		}
  	}
