<h1><i18n ng-click="openMainPage()">rss.head.title</i18n></h1>

<div class="row">
	<h2><i18n>rss.channel.title</i18n></h2>
	
	<div ng-if="channels === undefined || channels.all.length === 0">
		<button ng-click="newChannel()"><i18n>rss.channel.new</i18n></button>
	</div>
	<div ng-if="channels !== undefined || channels.all.length > 0">
		<button ng-click="editChannel()"><i18n>rss.channel.edit</i18n></button>
	</div>
	
	<article class="twelve cell">
		<div class="row" ng-repeat="channel in channels.all">
			<div class="row">
				<label class="three cell"><i18n>rss.channel.new.title</i18n></label>
				<span class="nine cell">[[channel.title]]</span>
			</div>
			<div class="row">
				<label class="three cell"><i18n>rss.channel.new.content</i18n></label>
				<textarea class="nine cell">[[channel.content]]</textarea>
			</div>
			<div class="row" ng-repeat="feed in channel.feeds track by $index">
				<label class="three cell"><i18n>rss.channel.new.feed</i18n> [[$index + 1]]</label>
				<span class="nine cell">[[feed]]</span>
			</div>
			<hr>
		</div>
	</article>
</div>