<div class="widget rss-widget">
	<h1>
		<span ng-click="widget.configChannel()" tooltip="rss.channel.config" class="rss-config-button"></span>
		<span ng-if="widget.channel !== undefined" ng-click="widget.updateFeeds(1)" tooltip="rss.channel.refresh" class="rss-refresh-button"></span>
	</h1>
	<div class="message" ng-if="widget.feeds === undefined">
		<i18n>rss.channel.undefined</i18n>
	</div>
	<div class="message" ng-if="widget.channel !== undefined && widget.feeds === undefined">
		<i18n>rss.channel.feeds.no.result</i18n>
	</div>

	<div class="fluxes" ng-if="widget.feeds !== undefined">
		<div ng-repeat="feed in widget.feeds track by $index" class="rss-flux">
			<a ng-click="widget.showOrHideFeed([[$index]])">[[feed.title]]</a>
			<p ng-show="widget.display.selectedFeed === [[$index]]" ng-bind-html="feed.description"></p>
			<div ng-show="widget.display.selectedFeed === [[$index]]">
				<div ng-repeat="item in feed.Items track by $index" class="rss-article">
					<a ng-click="widget.showOrHideItem([[$index]])">
						[[item.title]]
					</a>
					<div ng-show="widget.display.selectedItem === [[$index]]" class="selected-item">
						<p ng-bind-html="item.description"></p>
						<a href="[[item.link]]" target="_blank"><i18n>rss.channel.feed.read.more</i18n></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<lightbox show="widget.display.edition" on-close="widget.closeEdition()">
		<h2><i18n>rss.channel.new.title</i18n></h2>
		<article class="twelve cell">
			<div class="row">
				<label class="three cell"><i18n>rss.channel.title</i18n></label>
				<input type="text" ng-model="widget.selectedChannel.title" class="nine cell" />
			</div>
			<div>
				<label class="three cell"><i18n>rss.channel.new.content</i18n></label>
				<textarea ng-model="widget.selectedChannel.content" rows="4" cols="50" class="nine cell"></textarea>
			</div>
			<div class="row" ng-repeat="feed in widget.selectedChannel.feeds track by $index">
				<label class="three cell"><i18n>rss.channel.new.feed</i18n> [[$index + 1]]</label>
				<input type="text" ng-model="widget.selectedChannel.feeds[$index]" class="nine cell" />
			</div>
			<div class="row">
				<button class="right-magnet" ng-click="widget.saveChannel()" translate content="rss.channel.new.save"></button>
				<button class="right-magnet cancel" ng-click="widget.closeEdition()" translate content="rss.channel.new.cancel"></button>
			</div>
			<div class="clear"></div>
		</article>
	</lightbox>
</div>