<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}rss.head.title{{/i18n}}</title>
	<style>
		.rssFlux{
			border: 1px solid #ccc; 
			border-radius: 3px; 
			margin-top: 10px; 
			padding: 8px;
		}
		.rssArticle{
			border-top: 1px solid #ccc; 
			padding: 8px 2px 8px 2px;
		}
		.italic{
			font-style: italic;
		}
	</style>
</head>
<body ng-controller="RssController">
	<h2><i18n>rss.head.title</i18n></h2>
	<div class="row" ng-if="widget.feeds !== undefined">
		<div ng-repeat="feed in widget.feeds track by $index" class="rssFlux">
			<a ng-click="widget.showOrHideFeed([[$index]])"><b>[[feed.title]]</b></a>
			<p ng-show="widget.display.selectedFeed === [[$index]]" ng-bind-html="feed.description" class="italic"></p>
			<div ng-show="widget.display.selectedFeed === [[$index]]">
				<div ng-repeat="item in feed.Items track by $index" class="rssArticle">
					<a ng-click="widget.showOrHideItem([[$index]])">
						[[item.title]]
					</a>
					<div ng-show="widget.display.selectedItem === [[$index]]" >
						<p ng-bind-html="item.description"></p>
						<a href="[[item.link]]" target="_blank"><i18n>rss.channel.feed.read.more</i18n></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div  class="row" >
		<button worflow="channel.create" ng-if="widget.channel === undefined" ng-click="widget.newChannel()"><i18n>rss.channel.new</i18n></button>
		<behaviour name="manager" resource="channel">
			<button ng-if="widget.channel !== undefined"ng-click="widget.editChannel()"><i18n>rss.channel.edit</i18n></button>
		</behaviour>
	</div>
		
	<lightbox show="widget.display.edition" on-close="widget.closeEdition()">
		<h2><i18n>rss.channel.new.title</i18n></h2>
		<article class="twelve cell">
			<div class="row">
				<label class="three cell"><i18n>rss.channel.title</i18n></label>
				<input type="text" ng-model="widget.selectedChannel.title" class="nine cell" />
			</div>
			<div>
				<label class="three cell"><i18n>rss.channel.new.content</i18n></label>
				<textarea ng-model="widget.selectedChannel.content" rows="4" cols="50" class="nine cell"></textarea>
			</div>
			<div class="row" ng-repeat="feed in widget.selectedChannel.feeds track by $index">
				<label class="three cell"><i18n>rss.channel.new.feed</i18n> [[$index + 1]]</label>
				<input type="text" ng-model="widget.selectedChannel.feeds[$index]" class="nine cell" />
			</div>
			<div class="row">
				<button class="right-magnet" ng-click="widget.saveChannel()" translate content="rss.channel.new.save"></button>
				<button  class="right-magnet cancel" ng-click="widget.closeEdition()" translate content="rss.channel.new.cancel"></button>
			</div>
			<div class="clear"></div>
		</article>
	</lightbox>
</body>
</html>