<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}rss.head.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="/rss/public/js/model.js" type="text/javascript"></script>
	<script src="/rss/public/js/controller.js" type="text/javascript"></script>
	<script type="text/ng-template" id="empty"></script>
</head>
<body ng-controller="RssController">
<portal>

	<div class="row twelve cell">
		<container template="main"></container>
	</div>
	
</portal>
</body>
</html>